Bonjour {% if  responsable['genre'] == 'F' %} Mme {% else %} Mr {% endif %} : {{ responsable['nom']|upper }} {{ responsable['prenom']|capitalize }} <br>


Vous avez une demande de convention de stage à traiter. Merci de consulter votre espace  <a href="https://app-ensat.uae.ac.ma/e-ensat/public"> e-ensat</a>.<br>


Lien: https://app-ensat.uae.ac.ma/e-ensat/public <br>



Cordialement.